@tailwind base;
@tailwind components;
@tailwind utilities;

.profile-section{
    position: absolute;
    top:300px;
}
.profile-section img{
    position: relative;
    left: 780px;
    top:150px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.form-class{
    font-size: 20px;
    font-weight: bold;
}

.profile-title{
    position: relative;
    color: #303ab2;
    left: 50px;
    top: -50px;
    font-size: 64px;
    font-weight:bold;
}

.form-fieldset label{
    position: relative;
    font-size: 20px;
    left: 00px;
    font-weight: bold;
}

.form-fieldset input{
    position: relative;
    top: -45px;
    width:500px;
    height: 60px;
    left: 300px;
    border-radius: 30px;
    text-align:left;

    
}

.profile-label{
    position: relative;
    left: 50px;
}

.profile-button{
    position: relative;
    background-color: #303ab2;
    color:aliceblue;
    top:50px;
    left: 250px;
    border-radius: 20px;
    width:100px;
}

.selectors-fieldset{
    position: relative;
    left: -50px;
}   

.selectors-fieldset select{
    position: relative;
}


